html,
body {
    max-width: 1200px;
    margin: auto;
    position: relative;
    width: 100%;
    font-family: Poppins, sans-serif !important;
    /* padding: 0px 1rem; */
    /* display: inline-flex; */
}

body>section {
    /* width: 100%; */
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header {
    /* position: relative; */
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.logo-display-holder {
    text-align: center;
    padding-top: 10px;
}

.logo-display-holder>img {}

.page-header-text {

    text-align: center;

    font-size: 2rem;

    color: #521ace;
}

.page-header-text span {
    color: #fe9054;
}


.pagination-hold {}

.pagination-hold ul {

    list-style: none;

    padding: 0px;

    width: fit-content;

    margin: 20px auto;
}

.pagination-hold ul>li {
display: inline-block;
width: 38px;
height: 40px;
text-align: center;
}

.pagination-hold ul>li>a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    /* padding-top: 10px; */
    color: orange;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.pagination-hold ul>li>a[data-prev-page],.pagination-hold ul>li>a[data-next-page] {
    font-size: 12px;
}

.pagination-hold ul>li>a:hover {background: indigo;color: #fff;}

.pagination-hold ul>li>a:active {
}

.pagination-hold ul>li>a.active {
background: #330909;
color: white;
}

.results-description {
    margin-bottom: 15px;
    padding-left: 15px;
}

.results-description>span {
    font-weight: bold;
}

.table-container{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.table-container:hover,.table-container:focus{

	overflow-x: auto;
}

.results-table {
    max-width: 100%;
    min-width: 960px;
    padding-left: 5px;
    margin: auto;
    border-spacing: 0px;
}

.results-table>thead>tr {
    text-align: left;
    background: #1a1a1a;
    color: white;
}

.results-table>thead>tr th {
    padding: 10px;
    border-spacing: 0px;
}

.results-table>tbody>tr {}

.results-table>tbody>tr:hover,.results-table>tbody>tr:focus {
    background: #6e3cdb !important;
    color: #fe9054 !important;
}
.results-table>tbody>tr:nth-of-type(even){
	background-color: grey;
	color: white;
}


.results-table>tbody>tr:nth-of-type(odd) {
}

.results-table>tbody>tr>td {
    padding: 10px;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.default-message {
	text-align: center;
	color: red;
}

.full-width {
    width: 100%;
}

.block {
    display: block;
}

.clear {
    clear: both;
}

.no-padding {
    padding: 0px;
}

@media (max-width: 640px) {
	.results-table{
		min-width: 320px;
	}
}